# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Config / secrets
*.yaml
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# UV
uv.lock

# Certs
certs/
